/*Editor Style*/
.editor-wrapper{
    display: inline-block;
    width: calc(100% - 300px);
    float: left;
    height: 100vh;
    position: relative;
}
.editor-wrapper.hide{
    display: none;
}
.editor-wrapper.showOnMobile{
    display: block !important;
    position: absolute;
    background: #fff;
    height: 100vh;
}
.editor-wrapper .header{
	overflow: auto;
    height: 34px;
    box-sizing: border-box;
    border-bottom: solid 1px #dedede;
}
.editor-wrapper .header .edit,.editor-wrapper .header .done{
	float: right;
    color: #3e71db;
    line-height: 34px;
    cursor: pointer;
    margin-right: 30px;
}

.editor-wrapper .no-data{
    color: #999;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    text-align: center;
    line-height: 23px;
}
.directory-wrapper .no-item .fa{
    font-size: 12px;
}

.show-note-data{
    padding: 20px;
    color: #666;
}
.show-note-data .timestamp{
     display: block;
    text-align: center;
    font-size: 14px;
}
.go-back{
    display: inline-block;
    margin-left: 20px;
    top: 6px;
    position: relative;
    color: #3e71db;
    cursor: pointer;

}
.go-back .txt{
    margin-left: 4px;
}

.fr-element::first-line{
    font-size: 30px;
    margin-bottom: 20px;
    display: inline-block;
    color: #3e71db;
}

/*style Overide*/
.fr-toolbar{
    border : 0px;
}
.fr-wrapper{
    box-shadow: none !important;
    border-bottom : solid 1px #dedede !important;
    height: calc(100vh - 110px) !important;
}
.fr-toolbar{
    box-shadow: none !important;
    border-bottom : solid 1px #dedede !important;
}


@media only screen and (max-width: 780px){
    .editor-wrapper{
        width: 100%;
    }   
}