/*Editor Style*/
.editor-wrapper{
    display: inline-block;
    width: calc(100% - 300px);
    float: left;
}
.editor-wrapper.hide{
    display: none;
}
.editor-wrapper.showOnMobile{
    display: block !important;
    position: absolute;
    background: #fff;
    height: 100vh;
}
.editor-wrapper .header{
	overflow: auto;
    height: 34px;
    box-sizing: border-box;
    border-bottom: solid 1px #dedede;
}
.editor-wrapper .header .edit,.editor-wrapper .header .done{
	float: right;
    color: #3e71db;
    line-height: 34px;
    cursor: pointer;
    margin-right: 30px;
}
.no-data{
	margin-top: 100px;
	text-align: center;
	color: #999;
}
.show-note-data{
    padding: 20px;
    color: #666;
}
.go-back{
    display: inline-block;
    margin-left: 20px;
    top: 6px;
    position: relative;
    color: #3e71db;
    cursor: pointer;

}
.go-back .txt{
    margin-left: 4px;
}


@media only screen and (max-width: 780px){
    .editor-wrapper{
        width: 100%;
    }   
}